* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: khaki;
}

main {
  width: 360px;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-top: 0
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.gamepanel {
  --symbol-size: 4rem;
  width: 360px;
  height: 800px;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0.5rem;
}

.playerpanel {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.playerpanel_name{
  font-size: 2rem;
  font-weight: 500;
  width: 100%;
}

.playerpanel_symbol{
  font-size: 2rem;
  font-weight: 500;
}

.currentTurn{
  background-color: darkkhaki
}

.gameboard {
  /* required for winstroke to render properly */
  position: relative;
  aspect-ratio: 1 / 1;
  --tictactoe_gapsize: 0.5rem;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  background-color: darkkhaki;
  gap: var(--tictactoe_gapsize);
  padding: var(--tictactoe_gapsize);
}

.gameboard_newGameButton{
  width: fit-content;
  height: fit-content;
  padding: 2rem;
  
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}

.gamecell {
  border-radius: 0.5rem;
  background-color: khaki;
  font-size: var(--symbol-size);
  font-weight: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gamecell:disabled{
  color: inherit;
}

.winStroke{
  left: 0px;
  top: 0px;
  position: absolute;
  width: 100%;
  aspect-ratio: 1/1;
  pointer-events: none;
}

.winStroke>line{
  /* https://css-tricks.com/svg-line-animation-works/ */
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: dash 0.3s ease-in-out forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}